
<h1 style="margin-top: 10px;" >Voting Gallery</h1>

<%= will_paginate %>

<% contest = Contest.current_contest %>

<% if current_user and current_user.may_vote? %>

<% if contest and contest.voting_window? %>

<% render :partial => "gallery", :locals => {:entries => 
	@entries.find_all{|e| e.contest == contest}.sort_by{|e| e.image_name} } %>

<% else %>

Voting gallery not available.

<% end %>

<% else %>

Must have an entry in the current contest to vote.

<% end %>

<%= will_paginate %>

<% if signed_in? %>
  <%= render 'vote_info' %>
<% end %>

