<% if current_user.admin? %>

<h1 style="margin-top: 10px;" >Contests</h1>

<nav>
  <ul>
	<li><%= link_to "New Contest", newcontest_path %></li>
  </ul>
</nav>

<%= will_paginate %>

<%= render @contests.sort_by {|c| -c.startdate.to_i} %>

<%= will_paginate %>

<% else %>

Adminstrator access only.

<% end %>
