
.round {
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  border-radius:         4px;
}

.box {
  background-color: #202125;
  margin-bottom: 0;
}

.innerbox {
  background-color: #202125;
  margin-bottom: 0;
}

.container {
  width: 900px;
}

body {
  background: #00010f;
  color: #eee;
}

header {
  background: -moz-linear-gradient(top,  rgba(80,85,95,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,85,95,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(80,85,95,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(80,85,95,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(80,85,95,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(80,85,95,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50555f', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

header img.logo {
  padding: 1px;
  height: 100%;
  background: #777777;
}

header img.gravitar {
  padding: 1px;
  width: 40px;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #555555;
}

section h1 {
  font-size: 200%;
  color: #EEEEEE;
}

section h2 {
  font-size: 170%;
  color: #EEEEEE;
}

section h3 {
  font-size: 130%;
  color: #EEEEEE;
}

/* Links */

a {
  color: #aad;
  text-decoration: none;
}

a:hover {
  color: #bbf;
  text-decoration: underline;
}

a:visited {
  color: #ccf;
}


/* Navigation */

nav {
  float: right;
  background-color: #F5F5F5;
  white-space: nowrap;
  display: inline-block;
  font-weight: bold;
}

nav ul li a {
  color: #224;
  text-decoration: none;
}

nav ul li a:hover {
  color: #225;
  text-decoration: underline;
}

nav ul li a:visited {
  color: #555;
}

nav ul {
  margin: 0;
  padding: 0.2em 0.7em;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}




.userbar {
  float: right;
  background-color: #DDDDDD;
  padding: 0 5px;
  font-weight: bold;
}


/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #ffffff;
  background: #222222;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none; /* overrides previous float: right in nav */
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #777;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}


/* boxes within boxes*/
div.field, div.actions {
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
  margin-bottom: 10px;
  padding : 6px;
  background-color : #303135;
}

div.rules {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
  margin-bottom: 10px;
  padding : 8px;
  background-color : #303135;
  color: #fff;
}


/* error (on the signup page) stuff */
.field_with_errors {
  padding: 1px;
  background-color: #b55;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  color: #000;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #b44;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* listing users */

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}



/* entries and the entry partial */

h1.entry {
  margin-bottom: 0.3em;
}

div.entries {
  margin-top: 1em;
  color: #000;
}

div.entry {
  -moz-border-radius:    2px;
  -webkit-border-radius: 2px;
  border-radius:         2px;
  
  margin-bottom: 1em;
  background-color: #ddd;
  padding: 10px;
}

div.entry a {
  color: #002;
}

div.entry h2 {
  color: #000;
}

div.entry label {
  font-size: 75%;
  color: #000;
}

div.entries div {
  margin-top: 0em;
}

.code {
  white-space: pre-wrap;
  
  margin-top: 0em;
  border: 1px solid #999;
  background-color: #EEE;
  padding: 5px;
  color: #000;
}

span.timestamp {
  display: block;
  font-size: 85%;
  margin-top: 1em;
  color: #555;
}


div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.entries {
  font-size: 80%;
}

form.new_entry {
  margin-bottom: 2em;
}

form.new_entry textarea {
  height: 4em;
  margin-bottom: 0;
}
