.container {
  width: 900px;
}

body {
  background: #333333;
  color: #EEEEEE;
}

header {
  padding-top: 20px;
}

header img.logo {
  padding: 1px;
  width: 250px;
  background: #777777;
}

header img.gravitar {
  padding: 1px;
  width: 40px;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  width: 100%;
  background: #555555;
}

section h1 {
  font-size: 200%;
  color: #EEEEEE;
}

section h2 {
  font-size: 170%;
  color: #EEEEEE;
}


/* Links */

a {
  color: #111111;
  text-decoration: none;
}

a:hover {
  color: #DDDDDD;
  text-decoration: underline;
}

a:visited {
  color: #222222;
}


/* Navigation */

nav {
  float: right;
}

nav {
  background-color: #F5F5F5;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #555555;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #444444;
}


/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #ffffff;
  background: #222222;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}



/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none; /* overrides previous float: right in nav */
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #777;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* wafer-thin css for the signup form */
div.field, div.actions {
  margin-bottom: 10px;
}


/* error (on the signup page) stuff */
.field_with_errors {
  padding: 1px;
  background-color: #b55;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  color: #000;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #b44;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* listing users */
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* entries (need to convert from microposts tho) */

h1.entry {
  margin-bottom: 0.3em;
}

table.entries {
  margin-top: 1em;
  border-spacing: 1em;
}

table.entries div {
  white-space: pre-wrap;
  
  margin-top: 0em;
  border: 1px solid #999;
  background-color: #EEE;
  color: #000;
}

table.entries tr {
  background-color: #DDD;
  height: 70px;
  color: #000;
}

table.entries label {
  font-size: 75%;
}

table.entries h2 {
  color: #000;
}

table.entries tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.entries tr td.entry {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.entries tr td.entry span.timestamp {
  display: block;
  font-size: 85%;
  margin-top: 1em;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.entries {
  font-size: 80%;
}

form.new_entry {
  margin-bottom: 2em;
}

form.new_entry textarea {
  height: 4em;
  margin-bottom: 0;
}
