<h1>Edit Profile</h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %> 
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  Use <a href="http://gravatar.com/emails" target="_blank">Gravatar</a> to add / change your icon.
</div>

