<h1>Contact</h1>
<p>
  Contact Judy and Peterson by leaving us a message on
  <a href="https://github.com/judytuna/shortcode-site-309">our project's github</a>.
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/feedback">feedback page</a>.
</p>

