<h1>Sample App: a POVRay shortcode contest website</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application. In this case, I'm modifying the tutorial
  to make a website for a POVRay shortcode contest!
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
