<h1>Sample App: a POVRay shortcode contest website</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application. In this case, I'm modifying the tutorial
  to make a website for a POVRay shortcode contest!
</p>

<% if signed_in? %>
      	<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
<% else %>
        <p><%= link_to "Sign up now!", signup_path, :class => "signup_button round" %></p>
<% end %>

